.loadingBar {
	width: 100%;
	height: 4px;
	display: block;
	overflow: hidden;
	.indicator {
		background-color: red;
		animation: SPAN-SPACE 3s infinite;
		text-indent: -999em;
		display: block;
	}
}

@keyframes SPAN-SPACE{
	0%   { width: 0%; }
	75% {width: 100%;}
  100% { width: 0%; }
}